:root {
    // Fonts
    --font: 'Montserrat', sans-serif;

    // Color
    --body: #fff;
    --text: #545454;
    --white: #fff;
    --border: rgb(241 245 249);

    // Text color
    --text-slate-700: rgb(51 65 85);
    --text-slate-900: rgb(15 23 42);

    // Background color
    --bg-slate-50: rgb(248 250 252);
    --bg-slate-100: rgb(241 245 249);
}
